@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"), url(../fonts/Ubuntu-Regular.woff2);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"), url(../fonts/Ubuntu-Bold.woff2);
  font-weight: 700;
  font-display: swap;
}
