:root {
  --header-height: 58px;
  --form-width: 444px;
  --form-padding-top: 26px;
  --form-padding-right: 61px;
  --form-padding-bottom: 39px;
  --form-padding-left: 61px;
  --form-element-height: 44px;
  --green-color: #3cb878;
  --green-color-highlighted: #01813f;
  --blue-color: #305db8;
  --blue-color-highlighted: #022263;
  --blue-color-facebook: rgba(10, 22, 47, 0.1);
  --red-color-google: rgba(43, 13, 9, 0.1);
  --red-color: #df4a32;
  --red-color-highlighted: #ab1f09;
  --grey-color-light: #bebebe;
  --grey-color-highlighted: #434343;
  --grey-color: #848484;
  --grey-color-brake-line: #f2f2f2;
  --transition-time: 0.5s;
}
body {
  background-image: url(../image/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 14px;
  font-family: "Ubuntu", "Helvetica Now", "Helvetica", "Arial", sans-serif;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header"
    "main";
  min-height: 100vh;
}
.header {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: var(--header-height);
  grid-area: header;
}
.header-wrapper {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 82px 0 79px;
}

.logo {
  float: left;
  margin: 0;
  color: #fff;
  line-height: var(--header-height);
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  transition: color var(--transition-time);
}
.logo:hover {
  color: #3cb878;
}
.header-right-block {
  float: right;
}

.header-nav {
  float: left;
  line-height: var(--header-height);
}
.header-nav-block {
  line-height: var(--header-height);
  margin: 0;
  padding: 0;
  list-style: none;
}
.header-nav-item {
  display: inline-block;
  vertical-align: middle;
  padding-right: 20px;
}

.header-login-message {
  float: right;
  margin: 0;
  line-height: var(--header-height);
  color: #fff;
}
.header-login-message::before {
  content: "";
  border-left: 1px solid #fff;
  opacity: 0.4;
  margin-right: 28px;
  margin-left: 5px;
  height: 19px;
}
.icon-image {
  display: block;
}
.icon-image path {
  transition: fill var(--transition-time);
}
.nav-icon:hover .icon-image path {
  fill: var(--green-color);
}

.header-login-message a {
  color: #fff;
  text-decoration: none;
  transition: color var(--transition-time);
}
.header-login-message a:hover {
  color: var(--green-color);
}

.form-wrapper {
  grid-area: main;
  justify-self: center;
  align-self: center;
  position: relative;
  width: var(--form-width);
  padding: var(--form-padding-top) var(--form-padding-right)
    var(--form-padding-bottom) var(--form-padding-left);
  background-color: #fff;
}
.form-wrapper:before {
  content: "";
  position: absolute;
  top: var(--form-padding-top);
  left: 0;
  background-color: #3cb878;
  width: 18px;
  aspect-ratio: 1;
  display: inline-block;
}
.form-link {
  color: var(--green-color);
  text-decoration: none;
  display: inline-block;
  padding-bottom: 0;
  margin-bottom: 0;
  transition: color var(--transition-time);
}
.form-link:hover {
  color: var(--green-color-highlighted);
  text-decoration: underline;
}
.form-header {
  float: left;
  margin: 0;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.1;
}

.main-login-link {
  float: right;
  line-height: 2;
}

.btn {
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: #fff;
  vertical-align: middle;
  font-size: 16px;
  line-height: 1;
  transition: background-color var(--transition-time);
}
.btn-social-block {
  clear: both;
  margin-top: 4px;
  padding-bottom: 45px;
  padding-right: 2px;
}
.btn-social {
  width: 157px;
  padding-top: 11px;
  padding-bottom: 11px;
  text-align: left;
}

.btn-facebook {
  background-color: var(--blue-color);
  float: left;
  padding-left: 15px;
}
.btn-facebook:hover {
  background-color: var(--blue-color-highlighted);
}
.btn-google-plus {
  background-color: var(--red-color);
  float: right;
  padding-left: 11px;
}

.btn-google-plus:hover {
  background-color: var(--red-color-highlighted);
}
.btn-icon {
  font-size: 1.5em;
  vertical-align: middle;
}
.btn-icon-facebook {
  padding-right: 19px;
  margin-right: 16px;
  border-right: 1px solid var(--blue-color-facebook);
}
.btn-icon-google-plus {
  padding-right: 6px;
  margin-right: 32px;
  border-right: 1px solid var(--red-color-google);
}

.login-form {
  margin-top: 33px;
}
.text-fields {
  border: none;
  border-top: 1px solid var(--grey-color-brake-line);
  margin: 0;
  padding: 0;
  padding-top: 9px;
}
.form-brake-line {
  text-align: center;
  color: var(--grey-color);
}
.text-input {
  display: block;
  width: 100%;
  margin: 0 auto 14px auto;
  padding: 13px 20px 14px 20px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: var(--grey-color-highlighted);
  transition: color var(--transition-time), border-color var(--transition-time),
    box-shadow var(--transition-time);
}
.text-input:nth-last-child(1) {
  margin-bottom: 5px;
}
.text-input:focus,
.text-input:active {
  outline: none;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  color: var(--grey-color-highlighted);
}

.text-input::placeholder {
  color: var(--grey-color-light);
}
.text-input:focus::placeholder,
.text-input:active::placeholder {
  color: var(--grey-color-highlighted);
}
.checkbox-label {
  display: block;
  margin: 0 auto 23px auto;
  padding-top: 0;
  padding-left: 0;
  border: none;
}
.checkbox-label:hover,
.checkbox-input:hover {
  cursor: pointer;
}

.checkbox-input {
  margin-right: 7px;
  appearance: none;
  outline: none;
}

.checkbox-input:before {
  content: "";
  display: block;
  background-color: transparent;
  width: 20px;
  aspect-ratio: 1;
  border: 1px solid #f2f2f2;
  transform: translateY(0.5em);
}
.checkbox-input:checked::before {
  background-image: url("../image/checkmark.svg");
  background-position: 3px 3px;
  background-repeat: no-repeat;
  background-size: 14px;
}
.checkbox-input:focus:before,
.checkbox-input:active:before {
  outline: none;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.btn-action {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 16px;
  font-size: 16px;
  background-color: var(--green-color);
  opacity: 0.9;
}
.btn-action:hover {
  background-color: var(--green-color-highlighted);
}

@media (max-width: 800px) {
  .header {
    /* min-height: fit-content; */
    height: fit-content;
  }
  .logo {
    display: block;
    float: none;
    text-align: center;
    margin: 0 auto;
  }
  .header-right-block {
    float: none;
  }
  .header-nav {
    float: none;
    width: fit-content;
    margin: 0 auto;
  }
  .header-nav-item {
    padding: 0 10px;
  }
  .header-login-message {
    float: none;
    margin: 0 auto;
    width: fit-content;
  }
  .header-login-message::before {
    margin: 0;
    border: none;
  }
}
@media (max-width: 600px) {
  .form-wrapper {
    width: 90%;
    margin: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .btn-social-block {
    padding-bottom: 20px;
  }

  .btn-facebook,
  .btn-google-plus {
    float: none;
    display: block;
    margin: 10px auto;
  }
  .btn-social-block .btn-social:nth-last-child(1) {
    margin-bottom: 0;
  }
  .brake-line {
    margin-top: 10px;
  }
}

@media (max-width: 600px) {
  .checkbox-label {
    font-size: 10px;
  }
}
